<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Wars</title>
</head>
<body>
    <input type="text" id="player1" placeholder="User 1, Choose your pokemon">
    <button onclick="getPokemon()" type="submit">Choose</button>
    <input type="text" id="player2" placeholder="User 2, Choose your pokemon">
    <button onclick="getPokemon()" type="submit">Choose</button>
    
    <img src="background2.jpg" alt="pokemon arena" id="img">
</body>
</html>