th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

th[scope='col'] {
  background-color: #505050;
  color: #fff;
}

th[scope='row'] {
  background-color: #d6ecd4;
}

td {
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: #eee;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
}

#player1,
#player2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;

  :focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }

}

#btn1,
#btn2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #9147ff;
  color: white;
  padding: 0 20px;

  :hover {
    background-color: #772ce8;
  }

}

#fbtn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  height: 42px;

  :hover {
    /* background: 0 0; */
    color: #ff4742;
  }

}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#result{
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
}

.game{
  background-color: #d6ecd4;
}